.form {
  margin: 2rem 0;
  /* height: 15rem; */
  overflow: auto;
  border-top: 1px solid #ccc;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: flex;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
  display: flex;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
}

.actions button {
  font: inherit;
  color: #D5BDAF;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #F5EBE0;
  /* color: #545863; */
}

.actions .submit {
  border: 1px solid #545863;
  background-color: #545863;
  color: white;
  font-weight: bold;
}

.actions .submit:hover,
.actions .submit:active {
  border: 1px solid #737784;
  background-color: #737784;
  /* color: white; */
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

p {
  display: flex;
  justify-content: center;
  color: #545863;
}

.pleaseLogin {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1rem;
}

.pleaseLoginBtn {
  margin: 0 0.5rem;
  background-color: transparent;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}


.pleaseLogin a {
  color: #545863;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.pleaseLogin a:hover {
  color: #D5BDAF;
  border-bottom: 1px solid #D5BDAF;
}