.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 11vh;
  background-color: #D6CCC2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
  z-index: 10;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  opacity: 85%;
}

.header h1 {
  color: white;
  cursor: pointer;
  font-weight: 200;
  /* text-transform: uppercase; */
}

.header ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  list-style-type: none;
}

/* .header li {
  background-color: #D6CCC2;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
} */

.header button {
  background-color: #D6CCC2;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  border: none;
  cursor: pointer;
}

.header button:hover,
.header button:active {
  color: #545863;
}

header a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}

.header a:hover,
.header a:active {
  color: #545863;
}

.main-image {
  width: 100%;
  height: 75vh;
  margin-top: 10vh;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.iconArrow {
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  color: #D5BDAF;
  /* color: #D6CCC2; */
}

.iconArrow:hover,
.iconArrow:active {
  color: #545863;
}

.arrowBtn {
  border: none;
  background-color: transparent;
}

.icon {
  height: 2rem;
  width: 2rem;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon:hover,
.icon:active {
  color: #545863;
}