.icon {
    height: 2rem;
    width: 2rem;
    color: white;
}

.cartBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon:hover,
.icon:active {
    color: #545863;
}