.cookies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.kookieBtn {
    display: flex;
    justify-content: center;
}

.cookies button {
    margin: 0 0 0.25rem 0;
    font-size: 2.5rem;
    color: #545863;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.description {
    font-family: 'Raleway', sans-serif;
    color: #545863;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 100;
}

.price {
    color: #545863;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.cookies img {
    width: 20vw;
    aspect-ratio: 1/1;
    object-fit: cover;
}