main {
    /* margin-top: 10vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 72vh;
}

.auth {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.authHeader h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    color: #545863;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 2rem;
}

.input {
    width: 15vw;
    height: 2rem;
    border: 1px solid #545863;
    border-radius: 5px;
    padding-left: 5px;
}

.authBtn {
    border: 1px solid #545863;
    border-radius: 5px;
    color: white;
    background: #545863;
    padding: 10px 20px;
    transition: .5s;
    margin: 10px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;

}

.authBtn:hover {
    background-color: white;
    color: #545863;
    border: 1px solid #545863;
    /* transform: translateY(-3px); */
    transition: all 0.3s ease-in-out;
}

.orBtn {
    border: none;
    border-bottom: 1px solid #545863;
    color: #545863;
    background-color: transparent;
    margin: 1.5rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.orBtn:hover{
    border-bottom: 1px solid #EDEDE9;
    color: #EDEDE9;
}

.msg {
    /* margin: 15px; */
    color: rgba(210, 36, 36, 0.645)
}